#  Local .terraform directories
**/.terraform

# .tfstate files
*.tfstate
*.tfstate.*

*.private.tfvars
*.private.auto.tfvars
# .tfvars files
##*.tfvars
##*.tfvars.json

# HCL files (for backend configs)
*.hcl

# Terraform plan
tfplan
